.articles-wrap {

  .hover-article {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: none;
    background: linear-gradient(180deg, rgba(96, 176, 169, 0.5) 0%, rgba(3, 105, 94, 0.5) 100%);
    transition: all 0.1s linear;
  }


  .doctor-one.article-one {
    box-shadow: none;
    margin-bottom: 50px;

    p {
      margin: 0;
    }

    &:hover {
      .hover-article {
        opacity: 1;
        transition: all 0.1s linear;
      }

      .doctor-name {
        color: #328D84;
        transition: all 0.1s linear;
      }
    }
  }
}

.article-one-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .text-article {
    width: 66%;

    .article-annotation {
      font-family: Muller;
      font-size: 24px;
      line-height: 38px;
      font-weight: 300;
      color: #000000;
      margin-bottom: 30px;
    }

    .article-img {
      width: 100%;
      margin-bottom: 30px;
    }

    .article-content {
      font-family: Muller;
      font-size: 18px;
      line-height: 160%;
      font-weight: 300;
      color: #505050;
      margin-bottom: 100px;

      p {
        margin-bottom: 30px;
      }
    }

    .edition {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;

      .article-date, .share-article {
        font-family: Muller;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
        color: #939393;
      }

      .share-link {
        text-decoration: none;
        margin-left: 14px;
      }

      .share-article, .share-link {
        text-align: right;
      }

      .share-article {
        margin-right: 10px;
      }

      .article-date {
        width: 50%;
      }

      .share-wrap {
        width: 50%;
        display: flex;
        justify-content: left;
      }
    }
  }

  .doctors-general {
    width: 30%;
    display: flex;
    flex-direction: column;

    .articles-similar {
      font-family: Muller;
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      color: #000000;
      margin-bottom: 30px;
      margin-top: 55px;
    }

    .article-one {
      width: 100%;
    }


  }

  @media (max-width: 1000px) {
    flex-direction: column;
    .text-article {
      width: 100%;

      .article-content {
        margin-bottom: 0;
      }
    }

    .doctors-general {
      width: 100%;
      flex-direction: row;

      .articles-similar {
        width: 100%;
      }

      .article-one {
        width: 45%;

      }
    }

  }



  @media (max-width: 700px) {
    .doctors-general.art-add {
      width: 100%;
      flex-direction: column;
      .doctor-one{
        width: 100%;
      }
    }
  }
}

body[data-page="article"] {
  @media (max-width: 1000px) {
    .service-content .service-title {
      align-items: flex-end;
      flex-direction: column-reverse;

      h1 {
        width: 100%;
        max-width: 100%;
      }

      .btn-contact {
        margin-bottom: 27px;
      }
    }
  }

}
body[data-page="articles"], body[data-page="doctor"]{
    .img-doctor-wrap{
      width: auto;
      position: relative;
      max-height: 278px;
      overflow: hidden;
      border-radius: 20px;
      height: 270px;
    }

  .doctor-img{
      height: 100%;
  }
}
