body[data-page="contacts"] {
  footer {
    display: none;
  }

  .review-over {
    min-height: 92vh;
  }
}

.review-over.contacts-over {
  background-size: 100% 1284px;
  background-position: bottom;
   @media (max-width: 1050px) {
     background-size: 100% 650px;
  }
   @media (max-width: 850px) {
     background-size: 100% 500px;
  }
   @media (max-width: 600px) {
     background-size: 100% 300px;
  }
}

.contacts-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.contacts-block-form {
  width: 40%;
  @media (max-width: 1100px) {
    width: 100%;
    .form_main_screen_wrap {
      margin: auto;
      margin-bottom: 50px;
    }
  }
}

.map-contacts {
  width: 55%;
  height: 648px;
  @media (max-width: 1550px) and (max-height: 800px) {
        height: 572px;
      }
  @media (max-width: 1100px) {
    width: 100%;
  }
}

.contacts-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;


  .detail {
    width: 30%;

    .detail-title, .detail-info {
      font-family: Muller;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 22px;
    }

    .detail-title {
      font-weight: 300;
      margin-top: 30px;
    }

    .detail-info {
      font-weight: 500;
      @media (max-width: 900px) {
        font-size: 20px;
      }

      &.tel {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;

    .detail {
      width: 40%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;


      &:first-of-type {
        margin-right: 10%;
      }

      .detail-title, .detail-info {
        text-align: center;
      }
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
     .detail {
       width: 90%;

        &:first-of-type {
        margin-right: 0;
      }
     }
  }
}

.title-contact {
  margin-top: 80px;
}
