@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.doctors-wrap {
  width: 100%;

  .doctors-general {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .doctor-one {
      width: 31%;
      margin-right: 3.5%;
      background: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-bottom: 30px;
      cursor: pointer;
      @media (max-width: 1100px) {
        position: relative;
      }

      @media (max-width: 1000px) {
        width: 47%;
        margin-right: 6%;
      }

      @media (max-width: 600px) {
        width: 100%;
        margin-right: 0;

      }

      .doctor-img {
        width: 100%;
        border-radius: 20px;
        border: none;
      }

      .img-doctor-wrap {
        width: 100%;
        position: relative;
        //max-height: 536px;
        max-height: 439px;
        overflow: hidden;
        border-radius: 20px;
        @media (max-width: 1100px) {
          //position: unset;
        }
      }

      .hover-doctor {
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        border: none;
        background: linear-gradient(180deg, rgba(96, 176, 169, 0.8) 0%, rgba(3, 105, 94, 0.8) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.1s linear;
        @media (max-width: 1100px) {
          width: 100%;
          height: 100%;
          background: transparent;
        }


        .doctor-link {
          text-decoration: none;
          font-family: Muller;
          font-style: normal;
          font-size: 18px;
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          font-weight: 300;
          margin-bottom: 32px;
          @media (max-width: 1100px) {
            position: absolute;
            width: 100%;
            height: 100%;
            color: transparent;
          }
        }

        .entry-link {
          text-decoration: none;
          background: #FB8504;
          border-radius: 10px;
          font-family: Muller;
          font-size: 18px;
          line-height: 100%;
          color: #FFFFFF;
          text-transform: uppercase;
          padding: 20px 30px;
          border: none;
          @media (max-width: 1100px) {
            display: none;
          }
        }
      }


      p {
        font-family: Muller;
        font-size: 24px;
        line-height: 160%;
        color: #000000;
        margin: 0 30px;
      }

      .doctor-name {
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
        transition: all 0.1s linear;
      }

      .doctor-prof {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 300;
      }

      .article-date {
        font-family: Muller;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
        color: #939393;
      }

      &:nth-of-type(2n) {
        @media (max-width: 1000px) {
          margin-right: 0;
        }

      }

      &:nth-of-type(3n) {
        @media (min-width: 1000px) {
          margin-right: 0;
        }
      }

      &:hover {
        .hover-doctor {
          opacity: 1;
          transition: all 0.1s linear;
        }
      }

    }
  }
}

.pagination {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;

  .arr-next, .arr-prew {
    cursor: pointer;
    padding: 0 45px;

    svg {
      path {
        fill: #C4C4C4;
        transition: all 0.1s linear;
      }
    }

    &:hover {
      svg {
        path {
          fill: #328D84;
          transition: all 0.1s linear;
        }
      }
    }
  }

  .num {
    font-family: Muller;
    font-size: 18px;
    line-height: 18px;
    color: #939393;
    padding: 15px 17px;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
    transition: background 0.1s linear;

    &.current {
      color: #328D84;
      background: linear-gradient(180deg, #DFEFEE 0%, #CDE1DF 100%);
      transition: background 0.1s linear;
    }

    &:hover {
      color: #fff;
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
      transition: background 0.1s linear;
    }
  }
}

.doctor-wrap {
  width: 100%;

  .doctor-info-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
    }

    .doctor-info {
      width: 50%;
      @media (max-width: 800px) {
        width: 100%;
      }

      .doctor-position, .doctor-about {

        font-family: Muller;
        color: #000000;
        font-weight: 300;
      }

      .doctor-position {
        font-size: 24px;
        margin-bottom: 50px;
        line-height: 100%;
        @media (max-width: 800px) {
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

      .doctor-about {
        font-size: 18px;
        line-height: 160%;
        width: 100%;

        p {
          margin-bottom: 20px;
        }

      }

      .services-doctor-title {
        font-family: Muller;
        font-size: 30px;
        line-height: 100%;
        font-weight: 500;
        color: #000000;
        margin-top: 60px;
        margin-bottom: 30px;
      }


      .services-doctor {
        width: 100%;
        overflow-y: hidden;
        height: 490px;



        .service-doctor {
          background: #F8F8F8;
          border-radius: 20px;
          padding: 30px 20px;
          font-family: Muller;
          font-size: 18px;
          line-height: 160%;
          font-weight: 300;
          color: #000000;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
    }


    .doctor-img {
      width: 45%;
      margin-top: 40px;
      @media (max-width: 800px) {
        width: 100%;
        margin-top: 20px;
      }

      .doctor-img-wrap {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
          background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.68), rgba(255, 255, 255, 0.57), rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.31), rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
          left: 0;
        }
      }

      img {
        width: 95%;
        position: relative;


      }
    }
  }

}

.service-content.doctor-content {
  .service-title {
    margin-bottom: 0;
  }

  .container {
    padding-bottom: 0;
  }

}

.doctor-wrap {
  .container {
    padding-top: 0;
  }
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  color: #C4C4C4 !important;
  width: 6px !important;
  border-radius: 20px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #C4C4C4 !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #03695E !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px !important;
}

.mCustomScrollBox:hover {
  .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #03695E !important;
  }
}

.certificate-doctor,
.articles-doctor,
.sale-slider,
.review-slider-wrap {

  .certificate-title {
    font-family: Muller;
    font-size: 30px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-bottom: 46px;
  }


  .img-slider-certificate,
  .slider-doctor-articles,
  .sale-slider-wrap,
  .review-slider {
    width: 100%;
    position: relative;

    .slick-slide {
      outline: none;
    }

    .slick-list {
      padding-top: 48px;
    }

    .img-slide {
      width: 100%;
    }

    .slick-next, .slick-prev {

      position: absolute;
      top: 0;
      z-index: 10;

      &:before {
        display: none;
      }
    }

    .slick-next {
      right: 35%;
      background-image: url("../img/slide-right-active.svg");
      width: 70px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      top: 3px;

      @media (max-width: 1100px) {
        right: 34%;
      }

      @media (max-width: 800px) {
        right: 26%;
      }

      @media (max-width: 450px) {
        right: 10%;
      }


      &.slick-disabled {
        background-image: url("../img/slide-right.svg");

      }

    }

    .slick-prev {
      left: 36%;
      background-image: url("../img/slide-left-active.svg");
      width: 70px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: 800px) {
        left: 30%;
      }
      @media (max-width: 450px) {
        left: 15%;
      }

      &.slick-disabled {
        background-image: url("../img/slide-left.svg");

      }
    }

    .slick-dots {
      top: -17px;
      height: fit-content;

      li {
        margin: 0px 10px;
        display: none;

        button {
          &:before {
            display: none;
          }
        }

        &.slick-active {
          display: inline-block;

          button {
            font-family: Muller;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            color: #328D84;
            position: relative;
            //padding-left: 21px;
            text-align: right;
            padding-left: 0;
            width: 43px;
            height: 30px;

            &:after {
              content: "0";
              font-family: Muller;
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 100%;
              color: #328D84;
              position: absolute;
              width: 10px;
              height: 10px;
              left: 0;
              top: 4px;
            }
          }
        }

        &:last-child {
          display: inline-block;

          button {
            font-family: Muller;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #696969;
            opacity: 0.8;
            //padding-left: 30px;
            text-align: right;
            padding-left: 0;
            width: 48px;
            height: 25px;

            &:after {
              content: "/ 0";
              font-family: Muller;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 100%;
              color: #696969;
              position: absolute;
              width: 30px;
              height: 10px;
              left: 0;
              top: 4px;
            }
          }
        }
      }
    }
  }
}

.articles-doctor.articles-slider {
  .doctor-one.article-one {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .slide-wrap {
      width: 94%;
    }

  }
}


.service-form.doc-form .service-block-form-wrap {
  padding-top: 20px;
}

.certificate-wrap-slider{
  img {
      max-width: 185px;
    @media (max-width: 900px) {
      width: 96%;
    }

  }
}
