.review-over.questions-over.gallery {
  background: white;
  margin-bottom: 40px;

  .gallery-over {
    width: 100%;
  }

  .gallery-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .gallery-img {
      width: 22%;
      //box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
      overflow: hidden;
      margin-right: 4%;
      margin-bottom: 30px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media (max-width: 1100px) {
        width: 32%;
        margin-right: 2%;

        &:nth-child(4n) {
          margin-right: 2%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 800px) {
        width: 48%;
        margin-right: 4%;

        &:nth-child(3n) {
          margin-right: 4%;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;

        //&:hover {
        //  transform: scale(1.15);
        //}
      }
    }
  }
}
