.price-over {
  width: 100%;
}

.price-content {

  .price-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;


    h1 {
      font-family: Muller;
      font-size: 36px;
      line-height: 100%;
      color: #000000;
      font-weight: 500;
    }

    a {
      text-decoration: none;
      font-family: Muller;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
      border-radius: 20px;
      padding: 23px 39px;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }

    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column-reverse;
      h1 {
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }
      a {
        padding: 23px 0;
        width: 100%;
      }
    }
  }

  .price-wrap {
    width: 100%;

    .price-category {
      .category-title {
        font-family: Muller;
        font-size: 24px;
        line-height: 100%;
        color: #000000;
        font-weight: 500;
        border-bottom: 1px solid #CDCDCD;
        padding-top: 40px;
        padding-bottom: 20px;
        position: relative;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../img/arrow-close.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 11px;
          height: 18px;
        }

      }


      .category-subs {
        height: 0;
        overflow: hidden;
        transition: all 0.5s linear;
      }


      &.active {
        .category-title {
          color: #328D84;
          border-bottom: 1px solid #328D84;

          &:after {
            background-image: url("../img/arrow-open.svg");
            width: 18px;
            height: 11px;
          }
        }

        .category-subs {
          height: 100%;
          transition: all 0.5s linear;
          border-bottom: 1px solid #328D84;
        }
      }


    }

    .category-sub {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 0;
      background: #FCFCFC;
      font-family: Muller;
      font-size: 18px;
      line-height: 100%;
      color: #000000;

      &:nth-of-type(2n) {
        background: #EDF5F4;
      }

      .category-sub-title {
        font-weight: 300;
        margin-left: 20px;
      }

      .category-price {
        font-weight: 500;
        margin-right: 20px;
      }

      .help-text{
        display: flex;
          flex-direction: column;
        width: 100%;
        margin-left: 10%;
        div{
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          &:last-child{
            margin-bottom: 0;
          }
          p{
            &:first-child{
              margin-top: 8px;
            }
            &:last-child{
                  font-weight: 500;
                  margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.price-form {
  width: 100%;
  background-image: url("../img/review-fon.png");
  background-repeat: no-repeat;
  //background-size: cover;

  .container {
    padding: 0;
  }

  textarea {
    height: 100%;
    min-height: 246px;
  }

  .submit-btn {
    padding: 25px 110px;
    width: auto;
    @media (max-width: 800px) {
      width: 92%;
      padding: 25px 0;
    }
  }

  .price-block-form-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    .price-block-form {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1100px) {
        width: 100%;
      }

      &:before {
        content: "";
        position: absolute;
        background-image: url("../img/price-left.png");
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 513px;
        height: 329px;
        @media (max-width: 800px) {
          display: none;
        }

      }

      &:after {
        content: "";
        position: absolute;
        background-image: url("../img/price-right.png");
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 513px;
        height: 329px;
        @media (max-width: 800px) {
          display: none;
        }


      }

    }

    .form_main_screen_wrap {
      width: 100%;
      z-index: 3;

      .form-wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;


        .form-left, .form-right {
          width: 47%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

        .form-right {
          align-items: flex-start;
        }

        @media (max-width: 800px) {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          .form-left, .form-right {
            width: 95%;
            align-items: center;


          }
        }
      }

    }

  }


}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-family: Muller;
  font-size: 18px;
  line-height: 100%;
  padding: 25px;
  padding-bottom: 50px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .2s ease-in;
  background: #f7f7f7;
  color: #696969;
  margin-bottom: 10px;
  font-weight: 200;
  outline: none;
  padding: 25px;
  border-radius: 10px;
  border: none;


  &:after {
    content: "";
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 10px;
    transition: all 0.15s ease-in;
    position: absolute;
    top: 46%;
    right: 25px;
  }


  &:active, &.active {

    &:after {
      transform: rotate(180deg);
      transition: all 0.15s ease-in;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f7f7f7;
  color: #696969;
  font-weight: 200;
  border-radius: 10px;
  border: none;

  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #CDCDCD;
    transition: all 0.15s ease-in;

    &:nth-of-type(1) {
      border-top: none;
    }

    &:nth-of-type(2) {
      border-top: none;
    }

    &:hover {
      //color: #03695E;
      background: #EDF5F4;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .select-options{
    li{
      font-size: 13px;
    }
  }
}
