.review-over.questions-over {
  background-size: 100% 1284px;
  background-position: bottom;
  @media (max-width: 700px) {
      background-size: 166% auto;
    }

}

.questions-wrap {
  width: 100%;
  padding-bottom: 100px;

  .question {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-bottom: 40px;

    .question-title, .question-answer {
      p {
        font-family: Muller;
        font-size: 18px;
        line-height: 160%;
        color: #000000;
        font-weight: 300;


      }
    }
    .question-answer {
      .question-answer-wrap-text{
          margin-bottom: 20px;
          padding: 30px 40px;
         @media (max-width: 700px) {
           margin-bottom: 40px;
           padding: 15px 20px;
           padding-right: 40px;
         }
      }
      p{
        margin-bottom: 10px;
      }

    }


    .question-title {
      p {
        transition: font-weight 0.1s linear;
        padding: 30px 40px;
        padding-bottom: 20px;
         @media (max-width: 700px) {
           padding: 15px 20px;
           padding-right: 40px;
         }
      }
    }

    .question-answer {
      height: 0;
      overflow: hidden;
      transition: all 0.3s linear;
    }

    .question-title {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../img/arrow-open-grey.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 11px;
        height: 18px;
        @media (max-width: 700px) {
            right: 20px;
    }

      }

    }

    &:hover {
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);

      .question-title {
        p{
          color: white;
        }
        &:after {
          background-image: url("../img/arr-white-close.svg");
        }
      }
    }

    &.active {
      background: #EDF5F4;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      transition: all 0.3s linear;

      .question-title {
        p {
          color: #000000;
          font-weight: 500;
          transition: font-weight 0.1s linear;
        }

        &:after {
          background-image: url("../img/arrow-open.svg");
          width: 18px;
          height: 13px;
        }
      }
    }
  }
}


