.review-over {
  width: 100%;
  background-image: url("../img/review-fon.png");
  background-repeat: no-repeat;

  @media (max-width: 800px) {
    background-size: cover;
    background-position-x: center;
  }
}

.breadcrumbs {
  padding-top: 148px;
  @media (max-width: 1000px) {
    padding-top: 100px;
  }

  .main-page, .level-page {
    font-family: Muller;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: black;
    padding-right: 10px;
    text-decoration: none;
  }

  .level-page {
    color: #328D84;
    font-weight: 400;
  }
}

.review-content {

  .review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h1 {
      font-family: Muller;
      font-size: 36px;
      line-height: 100%;
      color: #000000;
      font-weight: 500;
    }

    a {
      text-decoration: none;
      font-family: Muller;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
      border-radius: 20px;
      padding: 23px 39px;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }

    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column-reverse;

      h1 {
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }

      a {
        padding: 23px 0;
        width: 100%;
      }
    }
  }


  .reviews-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 800px) {
      justify-content: center;
    }

    .rev {
      width: 48%;
      background: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      transition: all 0.1s linear;
      margin-bottom: 30px;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 80%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      &:hover {
        background: #EDF5F4;
        transition: all 0.1s linear;
      }

      .rev-title {
        font-family: Muller;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        color: #000000;
        font-weight: 500;
        padding: 0 50px;
        padding-top: 30px;
        margin-bottom: 20px;

      }

      .rev-text {
        font-family: Muller;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        color: #000000;
        padding: 0 50px;
        padding-bottom: 30px;

        @media (max-width: 600px) {
          padding: 0 20px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

.review-form {
  width: 100%;
  background-image: url("../img/revform-fon.png");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    padding: 0;
  }

  .rev-block-form-wrap {
    width: 100%;
    display: flex;
    align-items: center;


    .title-rev-block-form {
      width: 50%;


      p {
        font-family: Muller;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 50px;
        color: #FFFFFF;
        font-weight: 500;
        text-align: left;
        margin: 0 70px;
        margin-top: 185px;
        margin-bottom: 34px;

        @media (max-width: 450px) {
          font-size: 34px;
        }

      }

      img {
        margin-bottom: -4px;
      }

    }

    .rev-block-form {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      img {
        display: none;
      }
      .rev-block-form {
        width: 90%;
        margin-bottom: 80px;
        justify-content: center;
      }
      .title-rev-block-form {
        width: 90%;


        p {
          text-align: center;
          margin: 80px 70px 34px;
        }
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      .title-rev-block-form {
        width: 100%;
      }
      .title-rev-block-form p {
        margin: 80px 0 34px;
      }
      .rev-block-form {
        width: 100%;
      }
    }
  }


}

.form_main_screen_wrap {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 90%;
  position: relative;
}


form {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="text"] {
    width: 80%;
    background: #F7F7F7;
    border-radius: 10px;
    border: none;
    font-family: Muller;
    font-size: 18px;
    line-height: 100%;
    color: #696969;
    margin-bottom: 10px;
    padding: 25px;
    font-weight: 200;
    outline: none;
    @media (max-width: 450px) {
      width: 78%;
    }
    @media (max-width: 330px) {
      width: 75%;
    }


  }

  .submit-btn {
    width: 80%;
    background: #FB8504;
    border-radius: 10px;
    font-family: Muller;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 25px;
    border: none;
  }
}

.form-title {
  font-family: Muller;
  font-weight: 500;
  color: black;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #E3E3E3;
}

textarea {
  width: 80%;
  height: 200px;
  resize: none;
  background: #F7F7F7;
  border-radius: 10px;
  border: none;
  margin: 0;
  font-family: Muller;
  font-size: 18px;
  line-height: 100%;
  color: #696969;
  margin-bottom: 30px;
  padding: 25px;
  font-weight: 200;
  outline: none;

  @media (max-width: 600px) {
    height: 160px;
  }
  @media (max-width: 450px) {
    width: 78%;
  }
  @media (max-width: 330px) {
    width: 75%;
  }
}
body[data-page="contacts"]{
  textarea {
    @media (max-width: 1550px) and (max-height: 800px) {
        height: 115px;
      }
  }
}
#appointment {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  top: 80%;
  @media (max-width: 600px) {
    top: 95%;
  }
}
