.service-over {
  width: 100%;
}

.service-content {

  .service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      font-family: Muller;
      font-size: 36px;
      line-height: 100%;
      color: #000000;
      font-weight: 500;
      max-width: 55%;
      @media (max-width: 900px) {
        max-width: 48%;
        font-size: 30px;
      }
      @media (max-width: 700px) {
        max-width: 100%;
      }
      @media (max-width: 330px) {
        font-size: 26px;
      }
    }

    a {
      text-decoration: none;
      font-family: Muller;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
      border-radius: 20px;
      padding: 23px 39px;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }

    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column-reverse;

      h1 {
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }

      a {
        padding: 23px 0;
        width: 100%;
      }
    }
  }

}

.service-form {
  width: 100%;
  background-image: url("../img/review-fon.png");
  background-repeat: no-repeat;
  //background-size: cover;

  .container {
    padding: 0;
  }

  textarea {
    height: 100%;
    min-height: 246px;
    @media (max-width: 600px) {
      min-height: 200px;
    }
  }

  .submit-btn {
    padding: 25px 110px;
    width: auto;
    @media (max-width: 600px) {
      padding: 25px 0;
      width: 90%;
    }
  }

  .service-block-form-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    .service-block-form {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1100px) {
        width: 100%;
      }

      &:before {
        content: "";
        position: absolute;
        background-image: url("../img/tooth-left.png");
        top: 50%;
        transform: translateY(-50%);
        left: -6%;
        width: 460.59px;
        height: 379.52px;
        @media (max-width: 600px) {
          display: none;
        }

      }

      &:after {
        content: "";
        position: absolute;
        background-image: url("../img/tooth-right.png");
        top: 50%;
        transform: translateY(-50%);
        right: -1%;
        width: 460.59px;
        height: 379.52px;
        @media (max-width: 600px) {
          display: none;
        }

      }

    }

    .form_main_screen_wrap {
      width: 100%;
      z-index: 3;

      .form-wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .form-left, .form-right {
          width: 47%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

        .form-left {
          @media (max-width: 600px) {
            align-items: center;
            textarea {
              width: 80%;
            }
          }
        }

        .form-right {
          align-items: flex-start;
          @media (max-width: 600px) {
            align-items: center;
            textarea {
              width: 80%;
            }
          }
        }

        @media (max-width: 600px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .form-left, .form-right {
            width: 90%;
          }
        }
      }

    }

  }


}

.service-wrap {
  width: 100%;

  .service-general {
    width: 100%;
    display: flex;
    justify-content: space-between;


    .service-description {
      width: 67%;
    }
    .service-photo-wrap {
      width: 30%;
    }

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      .service-description, .service-photo-wrap {
        width: 90%;
        margin-bottom: 20px;
      }
      .service-photo-wrap {
          align-items: center;
      }

      .service-description {
        margin-bottom: 60px;
      }
    }

    .service-description {
      font-family: Muller;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
      font-weight: 300;

      p {
        margin-bottom: 20px;
      }

      .service-price {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 30px;
        @media (max-width: 900px) {
          width: 100%;
        }

        .price-number {
          font-weight: 500;
        }
      }
    }

    .service-photo-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .photo-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;

        &.photo-row-one-img{
          justify-content: flex-end;
          border-bottom: none;
        }

        &.photo-title {
          margin-bottom: 10px;
          border-bottom: none;

          .col-left, .col-right {
            font-family: Muller;
            font-size: 20px;
            line-height: 100%;
            color: #000;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }

        .col-left,
        .col-right {
          width: 48%;
          max-height: 270px;

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .service-photo-title {
        font-family: Muller;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .service-photo-before, .service-photo-after {
        width: 50%;

        .service-img {
          width: 100%;
          padding: 20px 0;
          padding-top: 16px;
          border-bottom: 1px solid #E3E3E3;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .service-photo-before {
        .service-img {
          padding-right: 15px;
        }
      }

      .service-photo-after {
        .service-photo-title {
          padding-left: 15px;
        }

        .service-img {
          padding-left: 15px;
        }
      }
    }
  }
}

//#doctor + .select-styled {
//  @media (max-width: 1100px) {
//    padding-top: 15px;
//  }
//
//}
