.stocks-wrap {
  width: 100%;


  .stocks-general {
    display: flex;
    flex-direction: column;
    width: 100%;

    .stock-one {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin-bottom: 50px;

.stock-description{
  p{
    font-family: Muller;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    padding-bottom: 10px;
  }
}
      .stock-img-wrap {
        width: 36%;
        border-radius: 20px;
        border: none;
        position: relative;

        .stock-img {
          width: 100%;
        }

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 99%;
          top: 0;
          left: 0;
          border-radius: 20px;
          border: none;
          background: linear-gradient(180deg, rgba(96, 176, 169, 0.5) 0%, rgba(3, 105, 94, 0.5) 100%);
          opacity: 0;
          transition: all 0.1s linear;
        }
      }

      .stock-info {
        width: 60%;

        .stock-title {
          font-style: normal;
          transition: all 0.1s linear;
          font-family: Muller;
          font-weight: 500;
          font-size: 30px;
          line-height: 100%;
          color: #328d84;
          margin-bottom: 30px;

        }

        .stock-description {
          font-family: Muller;
          font-size: 18px;
          line-height: 160%;
          font-weight: 300;
          color: #000000;
          margin-bottom: 10px;
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;
        .stock-img-wrap {
          width: 100%;
          margin-bottom: 20px;
        }
        .stock-info {
          width: 100%;
        }
      }
    }


  }

  .stock-link {
    text-decoration: none;
    outline: none;

    &:nth-of-type(2n) {
      .stock-one {
        flex-direction: row-reverse;
        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
    }

    //
    //&:hover {
    // .stock-one .stock-title {
    //    color: #328D84;
    //    transition: all 0.1s linear;
    //  }
    //
    // .stock-one .stock-img-wrap {
    //    &:after {
    //      opacity: 1;
    //      transition: all 0.1s linear;
    //    }
    //
    //  }
    //}
  }
}
