.thanks-wrap{
  h1{
    text-align: center;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: rgb(50, 141, 132);
    margin-bottom: 60px;
    padding: 50px 0px;

  }
}

body[data-page="thanks"]{
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}