{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>
        IntexDental |
        {% block title %}  {% trans 'Главная страница' %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'client.min.css' %}">
    {% block meta %}

    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167086910-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167086910-1');
</script>
</head>
<body data-page="{{ page }}">

<div class="">

    {% include "includes/header.html" %}

    {% block content %}

    {% endblock %}
</div>

{% include "includes/footer.html" %}
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM-U9pYJHGw9a8ySZZCz2iF4nd4vra2LE"></script>
<script src='{% static "client.bundle.js" %}'></script>
<script>
    App.map.init("{% static 'images/marker.svg' %}");
    App.form.callbackFormFull();
    App.header.mob_menu();
</script>
{% block js %}

{% endblock %}
{% block extra_js %}

{% endblock %}
</body>
</html>
