{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<div class="thanks-wrap breadcrumbs container">

    <h1>
        {% blocktrans %}

        Дякуємо , що Ви з нами! <br>Найближчим часом наш менеджер зв'яжеться з Вами! <br>Здоровʼя Вам і Вашим близьким!
       {% endblocktrans %}
    </h1>

</div>
{% endblock %}