@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerUltraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerRegular.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerHeavy.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerThin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerLight.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('.././font/MullerExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

