* {
  margin: 0;
  padding: 0;
}

.container-wrap {
  max-width: 1170px;
  width: 90%;
  margin: auto;
}

.abs-link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

input {
  &.error {
    background: rgba(240, 0, 0, 0.15) !important;
    border: 1px solid #ffa8a8 !important;
  }
}

.error-field {
  color: red;
  text-align: left;
  font-size: 14px;
  width: 87%;
  margin-bottom: 12px;

  &.hide {
    display: none;
  }
}