* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 20;
  transition: all 0.5s ease-in-out;
}


.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-mob-wrap {
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    left: 0;
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0px 25px 32px rgba(0, 0, 0, 0.07);
    transition: all 0.5s ease-in-out;


    .menu-header-mob {
      text-align: center;

      nav {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
      }

      a {
        padding: 4px 8px;
        margin: 5px 20px;
        border-bottom: 1px solid #00000024;
        text-decoration: none;
        font-family: Muller;
        font-size: 16px;
        font-weight: 200;
        line-height: 16px;
        padding: 4px 8px;
        color: #000;
        transition: all 0.5s ease-in-out;

      }
    }
  }

  .mob-menu.open {
    .menu-mob-wrap {
      height: 265px;
      transition: all 0.5s ease-in-out;
    }
  }

  .icon-menu {
    display: none;
    border: 2px solid white;
    padding: 4px 6px;
    padding-top: 6px;
    transition: all 0.5s ease-in-out;

    hr {
      width: 15px;
      border: none;
      border-top: 3px solid #fff;
      padding: 2px;
      transition: all 0.5s ease-in-out;
    }

    span {
      font-family: Muller;
      font-size: 29px;
      line-height: 19px;
      color: #fff;
      font-weight: 500;
      display: none;
      transition: all 0.5s ease-in-out;

    }


  }

  .open .icon-menu hr {
    display: none;
    transition: all 0.5s ease-in-out;

  }

  .open .icon-menu span {
    display: block;
    transition: all 0.5s ease-in-out;

  }


  @media (max-width: 1100px) {
    .icon-menu {
      display: block;
    }
    .logo-header {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    //justify-content: flex-end;
  }


  .menu-header {

    a {
      text-decoration: none;
      font-family: Muller;
      font-size: 16px;
      font-weight: 200;
      line-height: 16px;
      margin-left: 32px;
      padding: 4px 8px;
      color: #FFFFFF;
      transition: all 0.5s ease-in-out;

      &.active, &:hover {
        border-bottom: 2px solid #fb8504;
      }
    }


    @media (max-width: 1100px) {
      display: none;
    }
  }
}

.contact-header {
  display: flex;
  flex-direction: column;

  @media (max-width: 1100px) {
    display: none;
  }

  a {
    padding-bottom: 10px;
  }

  a, p {
    text-decoration: none;
    font-family: Muller;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
  }

  p {
    font-size: 12px;
    line-height: 12px;
  }
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 20px 0;
  position: relative;

}

.main-screen {
  position: relative;
  width: 100%;
  background-image: url(".././img/main_back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 800px) {
    background-image: none;
    background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
  }
}

.first-screen {
  padding-top: 180px;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  @media (max-width: 1550px) and (max-height: 800px) {
      padding-top: 120px;
  }

  .info_main_screen {
    width: 50%;

    p {
      font-family: Muller;
      font-size: 34px;
      line-height: 44px;
      color: #FFFFFF;
      font-weight: 200;

      b {
        font-weight: 400;
      }
    }


    .main_plus {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 60px;
      position: relative;

      div {
        width: 45%;
      }

      p {
        padding-top: 35px;
        font-size: 18px;
        line-height: 160%;
      }
    }

    @media (max-width: 800px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      p {
        width: 90%;
      }
    }
  }

  .form_main_screen {
    //left: 60%;
    position: relative;
    z-index: 2;
    width: 40%;
    margin-bottom: 80px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      background: url("../img/article-cavity-tooth_mobile.png");
      background-repeat: no-repeat;
      height: 100%;
      right: 35%;
      top: 30%;
      z-index: -1;
      @media (max-width: 1550px) and (max-height: 800px) {
        top: 23%;
      }

      @media (min-width: 801px) and (max-width: 1100px) {
        right: 39%;
        top: 19%;
      }
      @media (max-width: 450px) {
        display: none;
      }
    }


    @media (max-width: 800px) {
      width: 70%;
    }
    @media (max-width: 450px) {
      width: 100%;
    }


    .form_main_screen_wrap {
      background-color: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      width: 100%;
      position: relative;

    }


    form {
      width: 100%;
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type="text"] {
        width: 80%;
        background: #F7F7F7;
        border-radius: 10px;
        border: none;
        font-family: Muller;
        font-size: 18px;
        line-height: 100%;
        color: #696969;
        margin-bottom: 10px;
        padding: 25px;
        font-weight: 200;
        outline: none;
        border: 1px solid transparent;
      }

      .submit-btn {
        width: 80%;
        background: #FB8504;
        border-radius: 10px;
        font-family: Muller;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 25px;
        border: none;
      }
    }

    .form-title {
      font-family: Muller;
      font-weight: 500;
      color: black;
      font-size: 24px;
      width: 100%;
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #E3E3E3;
    }

    textarea {
      width: 80%;
      height: 200px;
      resize: none;
      background: #F7F7F7;
      border-radius: 10px;
      border: none;
      margin: 0;
      font-family: Muller;
      font-size: 18px;
      line-height: 100%;
      color: #696969;
      margin-bottom: 30px;
      padding: 25px;
      font-weight: 200;
      outline: none;
      @media (max-width: 1550px) and (max-height: 800px) {
        height: 105px;
      }
      @media (min-width: 801px) and (max-width: 1100px) {
        height: 105px;
      }
    }
  }

  @media (max-width: 800px) {
    padding-top: 100px;
  }
  @media (max-width: 450px) {
    .info_main_screen p {
      text-align: center;
    }
    .main_plus {
      width: 100%;
      margin-top: 30px;

      .tooth, .tech {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          padding-top: 15px;
          font-size: 16px;
        }

        img {
          width: 60%;
        }
      }
    }
  }
}

.sale_main {
  width: 100%;
  //height: 118vh;
  background: url("../img/review-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 200px;
  position: relative;
  //
  //&:before {
  //  content: "";
  //  position: absolute;
  //  top: 20%;
  //  height: 500px;
  //  width: 100%;
  //  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  //}

  .container {
    padding-bottom: 0;
  }

  .recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-family: Muller;
    font-size: 36px;
    line-height: 100%;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 60px;
  }

  .sale-slider {
    //position: absolute;
    //z-index: 2;
    //left: 50%;
    //transform: translateX(-50%);
    width: 100%;


    .slide {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    img {
      height: 100%;
    }

    .slide-text {
      width: 60%;
      font-family: Muller;
      font-size: 18px;
      line-height: 160%;
      padding-left: 30px;

      h5 {
        font-family: Muller;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        color: #328D84;
        margin-bottom: 30px;
      }

      p {
        padding-bottom: 10px;
      }
    }
  }
}

.header-white {
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in-out;

  .menu-header {
    a {
      color: #000000;
      transition: all 0.5s ease-in-out;
    }
  }

  .contact-header a, .contact-header p {
    color: #000000;
    transition: all 0.5s ease-in-out;
  }

}


.language-wrap {
  form {
    padding: 0;
  }

  div {
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .leng, .active-lang {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    text-decoration: none;
    font-family: Muller;
    font-size: 19px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    outline: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      border-bottom: 2px solid #fb8504;
    }
  }

  .leng {
    font-weight: 300;
  }
}

.header-white {
  .language-wrap {
    .leng, .active-lang {
      color: #000;
    }
  }
}

.display-none {
  display: none;
}

.license {
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-size: cover;

  .license-wrap {
    width: 50%;
    //margin: auto;
    margin: 94px auto;

    @media (max-width: 1100px) {
      width: 80%;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }


  .license-title {
    font-family: Muller;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    //margin-top: 94px;
  }

  .license-desc {
    font-family: Muller;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    font-weight: 200;
    margin-top: 20px;
  }

  .license-img {
    margin-top: 48px;
    margin-bottom: 88px;
    width: 100%;
  }


}

.services {
  margin-bottom: 90px;

  h2 {
    font-family: Muller;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    margin-top: 90px;
    margin-bottom: 60px;
    font-weight: 500;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 20px;
    cursor: pointer;
    transition: all 0.1s linear;
    margin: 20px 10px;
    position: relative;

    .abs-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    @media (max-width: 850px) {
      width: 41%;
    }


    .service-title {
      font-family: Muller;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #000000;
      margin-top: 30px;

    }

    .detail-info {
      font-family: Muller;
      font-size: 10px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: transparent;
      margin-top: 30px;
      font-weight: 200;
      cursor: pointer;
      height: 10px;
    }

    .img-hover {
      display: none;
    }

    .img-first {
      display: block;
    }

    &:hover {
      background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
      border-radius: 20px;
      transition: all 0.1s linear;

      .img-first {
        display: none;
      }

      .img-hover {
        display: block;
      }

      .detail-info {
        font-size: 18px;
        color: #FFFFFF;

      }

      .service-title {
        color: #FFFFFF;

      }
    }
  }

  @media (max-width: 450px) {
    margin-bottom: 40px;
    h2 {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    .service {
      width: 100%;
      padding: 24px 20px;

      .detail-info {
        display: none;
      }
    }
  }
}


.orange-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 68px;
  left: 755px;
  top: 3900px;
  background: #FB8504;
  border-radius: 10px;
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 0px;
  @media (max-width: 600px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 85%;
  }

  &.center-block {
    margin: auto;
  }
}

.mt20 {
  margin-top: 20px;
}


.reviews {
  background-image: url("../img/decor_zyb.png");
  background-repeat: repeat;
  padding: 27px 0px;

  .slider-wrap {
    height: 500px;
    width: 100%;
  }
}

footer {
  width: 100%;
  position: relative;

  .container {
    position: relative;
    padding: 0;
  }

  .google_map {
    height: 480px;

  }

  .contact-footer {
    position: absolute;
    bottom: 0;
    //width: 470px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    z-index: 2;
    padding: 60px 50px;
    padding-right: 120px;


    .contact-title {
      font-family: Muller;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 100%;
      color: #328D84;
      margin-bottom: 60px;

    }

    .contact-tel {
      text-decoration: none;
      display: block;
      font-family: Muller;
      font-size: 36px;
      line-height: 36px;
      font-weight: 500;
      color: #000000;
      margin-bottom: 20px;

    }

    .address {
      text-decoration: none;
      font-family: Muller;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
      font-weight: 300;
      margin-bottom: 30px;
    }

    p.address {
      margin-top: 30px;
    }
  }
}

.bottom-bar {
  width: 100%;
  background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);

  .bottom-text {
    font-family: Muller;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #6AB8B0;
    margin-top: 27px;
    //margin-bottom: 17px;

    //@media (max-width: 1100px) {
    //  text-align: center;
    //}
  }

  .footer-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;

    .menu-footer {
      padding-left: 50px;

      a {
        text-decoration: none;
        font-family: Muller;
        font-size: 16px;
        font-weight: 200;
        line-height: 28px;
        margin-left: 40px;
        color: #FFFFFF;
        transition: all 0.5s ease-in-out;
      }

      @media (max-width: 650px) {
        padding-left: 0;
        nav {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 117px;
        }
        a {
          margin-left: 20px;
        }
      }
    }
  }
}

.sale-slider-wrap {
  width: 100%;

  .slide {

  }
}

.review-home {
  width: 100%;
  background-image: url(".././img/review-home-fon.png");
  background-repeat: repeat;

  .review-wrap-home {
    padding-bottom: 100px;

    .review-slider-title {
      font-family: Muller;
      font-size: 36px;
      line-height: 100%;
      font-weight: 500;
      text-align: center;
      color: #000000;
      padding-top: 30px;
      margin-bottom: 50px;
    }

    .slick-slide {
      margin: 0 30px;
    }

    .review-slider {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: linear-gradient(270deg, #FFFFFF 30.73%, rgba(255, 255, 255, 0) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        width: 475px;
        height: 100%;
        z-index: 2;
        top: 50px;
        left: 0;
        @media (max-width: 1550px) {
          width: 245px;
        }
        @media (max-width: 1250px) {
          width: 145px;
        }
        @media (max-width: 1050px) {
          display: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        background: linear-gradient(270deg, #FFFFFF 30.73%, rgba(255, 255, 255, 0) 100%);
        width: 475px;
        height: 100%;
        z-index: 2;
        top: 50px;
        right: 0;
        @media (max-width: 1550px) {
          width: 245px;
        }
        @media (max-width: 1250px) {
          width: 145px;
        }
        @media (max-width: 1050px) {
          display: none;
        }
      }
    }

    .rev {
      //width: 770px !important;
      background: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      //padding: 30px 50px;
      margin: 50px 15px;

      .rev-title {
        font-family: Muller;
        font-size: 24px;
        line-height: 160%;
        font-weight: 500;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;

      }

      .rev-text {
        font-family: Muller;
        font-size: 18px;
        line-height: 160%;
        font-weight: 300;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 50px;


      }

      @media (max-width: 450px) {
        margin: 0;
        margin-bottom: 30px;
      }
    }
  }

  .questions-home {
    .questions-wrap {
      padding-bottom: 20px;

    }

    .orange-btn {
      margin-bottom: 100px;
    }

    .questions-title {
      font-family: Muller;
      font-size: 36px;
      line-height: 100%;
      font-weight: 500;
      text-align: center;
      color: #000000;
      margin-bottom: 40px;
    }

    .que-wrap {
      width: 100%;
      display: flex;
      justify-content: center;

    }

    .questions-wrap {
      width: 80%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.radius {
  width: 710px;
  height: 355px;
  border: 1px solid rgba(251, 133, 4, 0.2);
  border-bottom: none;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0; /* угол состоит из половины ширины (50% от 10em = 10em : 2 = 5em) и всей высоты (100% от 5em = 5em) */
  background-image: url("../img/damaged-tooth-graphic11.png");
  background-repeat: no-repeat;
  background-position: bottom;

  .tooth-recom {
    background-image: url("../img/damaged-tooth-graphic11.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: top;
    height: 327px;
    overflow: hidden;
    width: auto;

  }

  @media (max-width: 1100px) {
    width: 630px;
    height: 315px;
  }
}

.mobile-recom {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: 850px) {
    display: flex;
  }

  .recom {
    background: linear-gradient(180deg, #60b0a9, #03695e);
    border-radius: 20px;
    margin-bottom: 35px;
    width: 100%;

    .recom-title p {
      font-family: Muller;
      font-size: 18px;
      line-height: 160%;
      font-weight: 300;
      color: #FFFFFF;
      text-align: left;
      margin: 10px 30px;
    }

    .recom-recom {
      background: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      margin-bottom: 6px;

      p {
        font-family: Muller;
        font-size: 14px;
        line-height: 160%;
        font-weight: 300;
        color: #000000;
        text-align: left;
        padding: 20px 30px;
        padding-bottom: 30px;
      }
    }

  }
}

.circ1 {
  width: 830px;
  height: 415px;
  border: 3px solid #FB8504;
  border-bottom: none;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  @media (max-width: 1100px) {
    width: 750px;
    height: 375px;
  }
  @media (max-width: 850px) {
    display: none;
  }
  //overflow: hidden;
}

.circ2 {
  width: 770px;
  height: 385px;
  border: 2px solid rgba(251, 133, 4, 0.5);
  border-bottom: none;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media (max-width: 1100px) {
    width: 690px;
    height: 345px;
  }
}

//
//@keyframes rot {
//  0% {
//    transform: rotate(0deg) translate(0px, 0);
//  }
//   20% {
//    transform: rotate(0deg) translate(0px, 0);
//  }
//  30% {
//    transform: rotate(0deg) translate(81px, -60px);
//  }
//
//  40% {
//    transform: rotate(0deg) translate(190px, -110px);
//  }
//
//  60% {
//    transform: rotate(0deg) translate(190px, -110px);
//  }
//
//  80% {
//    transform: rotate(0deg) translate(81px, -60px);
//  }
//
//  100% {
//    transform: rotate(0deg) translate(0px, 0);
//  }
//}

.point {
  background: #F5F5F5;
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s linear;


  &:nth-child(1) {
    top: 100px;
    left: 90px;
    @media (max-width: 1100px) {
      top: 80px;
    }
  }

  &:nth-child(2) {
    top: 100px;
    right: 90px;
    @media (max-width: 1100px) {
      top: 80px;
    }
  }

  &:nth-child(3) {
    top: 240px;
    left: 5px;
    @media (max-width: 1100px) {
      top: 230px;
      left: 0px;
    }

  }

  &:nth-child(4) {
    top: 240px;
    right: 5px;
    @media (max-width: 1100px) {
      top: 230px;
      right: 0px;
    }
  }

  .recom {
    position: absolute;
    background: linear-gradient(180deg, #60b0a9, #03695e);
    border-radius: 20px;
    top: -300%;
    //top: -255px;
    left: -310px;
    width: 372px;

    @media (max-width: 1100px) {
      left: -117px;

    }

    &:after {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-top: 10px solid #046359;
      right: 30px;
    }


    .recom-title p {
      font-family: Muller;
      font-size: 18px;
      line-height: 160%;
      font-weight: 300;
      color: #FFFFFF;
      text-align: left;
      margin: 10px 30px;
    }

    .recom-recom {
      background: #FFFFFF;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      margin-bottom: 6px;

      p {
        font-family: Muller;
        font-size: 14px;
        line-height: 160%;
        font-weight: 300;
        color: #000000;
        text-align: left;
        padding: 20px 30px;
        padding-bottom: 30px;
      }
    }
  }

  .point {


    &:nth-of-type(1), &:nth-of-type(3n) {
      @media (max-width: 1380px) {
        .recom {
          left: -20px;

          &:after {
            right: auto;
            left: 30px;
          }
        }
      }
    }


  }


  .plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    font-family: Muller;
    color: #328D84;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    line-height: 36px;
  }

  &:hover, &:focus, &.active_recom {
    transition: all 0.3s linear;
    background: linear-gradient(180deg, #60B0A9 0%, #03695E 100%);
  }

  //animation: rot 20s infinite linear;
}

.display_none {
  display: none;
}

.img-foot.display_none {
  display: block;
}


.sale_main {
  @media (max-width: 800px) {
    .sale-slider-wrap {
      .slick-slide img {
        width: 90%;
      }

      .slide {
        flex-direction: column;
      }

      .slide-text {
        width: 90%;
        padding-left: 0;

        h5 {
          margin-top: 40px;
          margin-bottom: 15px;
        }

        p {
          font-size: 24px;
          line-height: 180%;
        }
      }
    }

  }
  @media (max-width: 450px) {
    h2 {
      padding-top: 35px;
    }
    .sale-slider-wrap .slide-text p {
      font-size: 20px;
      line-height: 150%;
    }
  }
}

.header-white {
  .icon-menu {
    border: 2px solid #000;
    transition: all 0.5s ease-in-out;

    hr {
      border-top: 3px solid #000;
      transition: all 0.5s ease-in-out;
    }

    span {
      color: #000;
    }
  }
}

//.footer-desktop {
//  display: block;
//  @media (max-width: 800px) {
//      display: none;
//    }
//}
//
//.footer-desktop {
//  display: none;
//  @media (max-width: 800px) {
//      display: block;
//    }
//}

.contact-footer {
  @media (max-width: 800px) {
    //display: none;
  }
}

footer .contact-footer {
  @media (max-width: 1100px) {
    padding: 60px 30px 60px 30px;
  }
  @media (max-width: 850px) {
    position: relative;

    .contact-title {
      margin-bottom: 30px;
    }
    .contact-tel {
      font-size: 28px;
    }
    p.address {
      margin-top: 15px;
    }
    .address {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
}

footer {
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column-reverse;

    .google_map {
      height: 300px;
    }

  }
}
