.form {
  max-height: 700px;
  transition: all 0.5s ease;

  &.hidden {
    * {
      opacity: 0 !important;
    }

    //max-height: 0;
    //overflow: hidden;
    padding: 0 !important;
  }
}

.thanks-text {
  font-family: Muller;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease;
  text-align: center;
  padding: 25px;
  font-size: 18px;
  text-transform: uppercase;
  color: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}