<section class="breadcrumbs">
    <div class="container">
        {% for crumbs in bredcrumbs %}
            <a class="main-page {% if forloop.last %} level-page {% endif %}"
                    {% if crumbs.1 %}
               href="{% url crumbs.1 %}"
                    {% endif %}
            > {{ crumbs.0 }} </a>
            {% if not forloop.last %}
                <span class="main-page">-</span>
            {% endif %}
        {% endfor %}
    </div>
</section>