{% load i18n %}
{% load poll_extras %}
{#service-form default section_class#}
{#service-block-form-wrap default wrap #}
{#service-block-form default form #}
<section id="form" class="{% if section_class %}
{{ section_class }}
{% else %}
service-form
{% endif %}">
    <div class="container">
        <div class="{% if wrap %}
{{ wrap }}
{% else %}
service-block-form-wrap
{% endif %}
">
            <div class="{% if form %}
{{ form }}
{% else %}
service-block-form
{% endif %}
">
                <div class="form_main_screen_wrap">
                    <p class="form-title">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</p>
                    <p class="js-form-help thanks-text hide">
                        {% trans ' Спасибо за оставленную заявку! Мы Вам обязательно перезвоним' %}
                    </p>
                    {% get_services as services %}
                    {% get_doctors as doctors %}
                    <form class="form" action="{% url 'main:callback_full' %}" method='post' id="full_form">
                        {% csrf_token %}
                        <div class="form-wrap">
                            <div class="form-left">
                                <input type="text" placeholder="*Имя" name="name">
                                <input type="text" placeholder="*Номер телефона" id="phone" name="phone">
                                <select name="service_id" id="usluga">
                                    <option value="-1">Определенная услуга</option>
                                    {% for service in services %}
                                        <option value="{{ service.0 }}">{{ service.1 }}</option>
                                    {% endfor %}
                                </select>
                                <select name="doctor_id" id="doctor">
                                    <option value="-1">Выберите врача</option>
                                    {% for doctor in doctors %}
                                        <option value="{{ doctor.id }}"
                                        >{{ doctor.fio }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-right">
                                <textarea rows="10" name="text" placeholder="Текст сообщения"></textarea>
                            </div>
                        </div>
                        <button class="submit-btn" type="submit">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
