{% load poll_extras %}
{% load i18n %}
{% get_callback_form as form %}

<form action="{% url 'main:form' %}"
      method="post"
      class="form" id="call_back_form">
    {% csrf_token %}
    {% for field in form.form %}
        {% if field.html_name == 'name_user' %}
            {{ field }}
            <span class="js-error-field error-field hide" data-name="{{ field.html_name }}">
                {% trans 'Длинна строки не должна превышать 255 символов' %}
            </span>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <button class="submit-btn" type="submit">{% trans 'Отправить заявку' %}</button>
</form>

<div class="js-thx thanks-text hide">
    {% trans 'Спасибо что написали нам' %}
</div>



