{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block content %}
<div class="footer-wrapper">
    <footer>
        <div id="google_map" class="google_map">
        </div>
        <div class="container">
            <div class="contact-footer">
                <p class="contact-title">{% trans 'Контакты' %}</p>
                <a class="contact-tel" href="tel:(067) 465 00 13">(067) 465 00 13</a>
                <p class="address">{% trans 'Киев, ул. Черняховского 18' %}</p>
                <a class="address" href="mailto:intexdentalnuvky@gmail.com">{% trans 'intexdentalnuvky@gmail.com' %}</a>
            </div>
        </div>
    </footer>
    <div class="bottom-bar">
        <div class="container">
            <div class="footer-wrap">
                <div class="logo-footer">
                    <img class="img-foot" src="{% static 'images/INTEXDENTAL_white.svg' %}" alt="">
                </div>
                <div class="menu-footer">
                    <nav>
                          <a href="{% url 'main:stocks' %}" {% if page == 'stocks' %} class="active" {% endif %}>{% trans 'Акции' %}</a>
                    <a {% if page == 'price' %} class="active" {% endif %} href="{% url 'main:price' %}">{% trans 'Услуги' %}</a>
                    <a  {% if page == 'doctors' %} class="active" {% endif %} href="{% url 'main:doctors' %}">{% trans 'Наша команда' %}</a>
                    <a {% if page == 'review' %} class="active" {% endif %} href="{% url 'main:review' %}">{% trans 'Отзывы' %}</a>
                    <a {% if page == 'gallery' %} class="active" {% endif %} href="{% url 'main:gallery' %}">{% trans 'Галерея' %}</a>
                    <a {% if page == 'articles' %} class="active" {% endif %} href="{% url 'main:articles' %}">{% trans 'Статьи' %}</a>
                    <a {% if page == 'contacts' %} class="active" {% endif %} href="{% url 'main:contacts' %}">{% trans 'Контакты' %}</a>
                    </nav>
                </div>
            </div>
            <p class="bottom-text">{% trans 'Intex Clinic. Все права защищены' %}</p>
        </div>
</div>
    </div>
{% endblock %}

{% block js %}


{% endblock %}
