{% load i18n %}
{% load poll_extras %}
{% load static %}
{% get_language request as language %}
<header class="header-white">
    <div class="container">
        <div class="header-wrap">
            <div class="logo-header">
                <a href="/">
                    <img class="img-logoW display-none" src="{% static 'images/INTEXDENTAL_white.svg' %}" alt="">
                    <img class="img-logoG " src="{% static 'images/INTEXDENTAL_green.png' %}" alt="">
                </a>
            </div>
            <div class="menu-header">
                <nav>
                    <a href="{% url 'main:stocks' %}" {% if page == 'stocks' %} class="active" {% endif %}>{% trans 'Акции' %}</a>
                    <a {% if page == 'price' %} class="active" {% endif %} href="{% url 'main:price' %}">{% trans 'Услуги' %}</a>
                    <a  {% if page == 'doctors' %} class="active" {% endif %} href="{% url 'main:doctors' %}">{% trans 'Наша команда' %}</a>
                    <a {% if page == 'review' %} class="active" {% endif %} href="{% url 'main:review' %}">{% trans 'Отзывы' %}</a>
                    <a {% if page == 'gallery' %} class="active" {% endif %} href="{% url 'main:gallery' %}">{% trans 'Галерея' %}</a>
                    <a {% if page == 'articles' %} class="active" {% endif %} href="{% url 'main:articles' %}">{% trans 'Статьи' %}</a>
                    <a {% if page == 'contacts' %} class="active" {% endif %} href="{% url 'main:contacts' %}">{% trans 'Контакты' %}</a>
                </nav>
            </div>
            <div class="mob-menu">
                <div class="icon-menu">
                    <hr>
                    <hr>
                    <hr>
                    <span>X</span>
                </div>
                <div class="menu-mob-wrap">
                    <div class="menu-header-mob">
                        <nav>
                            <a href="{% url 'main:stocks' %}" class="active">{% trans 'Акции' %}</a>
                            <a href="{% url 'main:price' %}">{% trans 'Услуги' %}</a>
                            <a href="{% url 'main:doctors' %}">{% trans 'Наша команда' %}</a>
                            <a href="{% url 'main:review' %}">{% trans 'Отзывы' %}</a>
                            <a href="{% url 'main:gallery' %}">{% trans 'Галерея' %}</a>
                            <a href="{% url 'main:articles' %}">{% trans 'Статьи' %}</a>
                            <a href="{% url 'main:contacts' %}">{% trans 'Контакты' %}</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="language-wrap">
                {% for lang in language.LANGUAGES %}
                    {% if lang.0 == language.SELECTEDLANG %}
                        <div class="">
                            <button class="{% if lang.0 == request.LANGUAGE_CODE %} active-lang {% endif %}">
                                {{ lang.0 }}
                            </button>
                        </div>
                    {% else %}
                        <div>
                            <form class="js-set-lang {% if lang.0 == request.LANGUAGE_CODE %}order-1{% endif %}"
                                  action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                                <input name="next" type="hidden" value="{{ language.redirect_to }}"/>
                                <input type="hidden" name="language" value="{{ lang.0 }}">
                                <button class="leng {% if lang.0 == request.LANGUAGE_CODE %} active-lang {% endif %}">{{ lang.0 }}
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="contact-header">
                <a href="tel:(067) 465 00 13"> (067) 465 00 13</a>
                <p>{% trans 'Киев, ул. Черняховского 18' %}</p>
            </div>

        </div>
    </div>

</header>
