{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ article.meta_desc }}"/>

    <meta name="keywords"
          content="{{ article.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}




{% block content %}
    <section class="doctors-over">
        {% include "includes/breadcrumbs.html" %}
        <section class="service-content">
            <div class="container">
                <div class="service-title">
                    <h1>{{ article.title }}</h1>
                    <a class="btn-contact js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>

            </div>

        </section>
        <section class="doctors-wrap articles-wrap">
            <div class="container">
                <div class="article-one-wrap">
                    <div class="text-article">
                        <div class="edition">
                            <p class="article-date">{{ article.date }}</p>
                            <div class="share-wrap">
                                <p class="share-article">{{ article.author.fio }}</p>

                            </div>
                        </div>

                        <p class="article-annotation">{{ article.lead }}</p>

                        {#                        <img src="{% static 'images/article-img.png' %}" alt="" class="article-img">#}
                        <div class="article-content">
                            {{ article.content|safe }}
                        </div>
                    </div>
                    <div class="doctors-general art-add">
                        <p class="articles-similar">Похожие статьи</p>
                        {% for art in article.articles.all %}
                        <div class="doctor-one article-one" style="position: relative">
                                <a href="{% url 'main:article' slug=art.slug %}" class="abs-link"></a>
                            <div class="img-doctor-wrap">
                                {% if art.photo %}
                                    <img src="{{ art.photo.url }}" alt="" class="doctor-img">
                                {% else %}
                                <img src="{% static 'images/doctor.png' %}" alt="" class="doctor-img">
                                {% endif %}
                                <div class="hover-article">
                                </div>
                            </div>
                            <p class="doctor-name">{{art.title}}</p>
                            <p class="doctor-prof">{{art.lead}}</p>
                            <p class="article-date">{{art.date}}</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

    </section>
    {% include 'includes/call_form_full.html' with section_class='price-form' wrap='price-block-form-wrap' form='price-block-form' %}
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.category.init();
        // App.form.init();
    </script>
{% endblock %}
{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}


