{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block title %} {% trans 'Статьи' %} {% endblock %}

{% block meta %}
    {% get_solo 'meta.MetaBlog' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="doctors-over">
        {% include "includes/breadcrumbs.html" %}
        <section class="service-content">
            <div class="container">
                <div class="service-title">
                    <h1>{% trans 'Статьи' %}</h1>
                    <a class="btn-contact js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>

            </div>

        </section>
        <section class="doctors-wrap articles-wrap">
            <div class="container">
                <div class="doctors-general">
                    {% for article in all_articles %}
                        <div class="doctor-one article-one" style="position:relative;">
                            <a href="{% url 'main:article' slug=article.slug %}" class="abs-link"></a>
                            <div class="img-doctor-wrap">
                                {% if article.photo %}
                                    <img src="{{ article.photo.url }}" alt="" class="doctor-img">
                                {% else %}
                                    <img src="{% static 'images/doctor.png' %}" alt="" class="doctor-img">
                                {% endif %}
                                <div class="hover-article">
                                </div>
                            </div>
                            <p class="doctor-name">{{ article.title }}</p>
                            <p class="doctor-prof">{{ article.lead }}</p>
                            <p class="article-date">{{ article.date }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="pagination">
            <div class="pagination-wrap">
                {% if all_articles.has_other_pages %}
                    {% if all_articles.has_previous %}
                        <a href="?page={{ all_articles.previous_page_number }}">
                                <span class="arr-prew">
                 <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.999388 9.70236L9.00962
17.7124C9.19488 17.8979 9.4422 18 9.7059 18C9.96961 18 10.2169
17.8979 10.4022 17.7124L10.9921 17.1227C11.3759 16.7384 11.3759
 16.1138 10.9921 15.7301L4.2657 9.00373L10.9996 2.26989C11.1848
 2.08448 11.2871 1.83731 11.2871 1.57375C11.2871 1.3099 11.1848
 1.06273 10.9996 0.877167L10.4097 0.287563C10.2242 0.10215 9.97707
  3.70017e-06 9.71337 3.67712e-06C9.44966 3.65406e-06 9.20235 0.10215
  9.01708 0.287563L0.999388 8.30496C0.813682 8.49096 0.711683 8.7393
  0.712269 9.00329C0.711683 9.26832 0.813682 9.51651 0.999388 9.70236Z"
/>
</svg>
                </span>
                        </a>

                    {% else %}
                        <span class="arr-prew"><svg width="12" height="18" viewBox="0 0 12 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
<path d="M0.999388 9.70236L9.00962 17.7124C9.19488
17.8979 9.4422 18 9.7059 18C9.96961 18 10.2169 17.8979
 10.4022 17.7124L10.9921 17.1227C11.3759 16.7384 11.3759
 16.1138 10.9921 15.7301L4.2657 9.00373L10.9996 2.26989C11.1848
 2.08448 11.2871 1.83731 11.2871 1.57375C11.2871 1.3099 11.1848
 1.06273 10.9996 0.877167L10.4097 0.287563C10.2242 0.10215 9.97707
  3.70017e-06 9.71337 3.67712e-06C9.44966 3.65406e-06 9.20235 0.10215
  9.01708 0.287563L0.999388 8.30496C0.813682 8.49096 0.711683 8.7393
  0.712269 9.00329C0.711683 9.26832 0.813682 9.51651 0.999388 9.70236Z"
/>
</svg></span>
                    {% endif %}
                    {% for i in all_articles.paginator.page_range %}
                        {% if all_articles.number == i %}
                            <a class="num current"><span>{{ i }} <span class="sr-only"></span></span></a>
                        {% else %}
                            <a class="num" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if all_articles.has_next %}
                        <a href="?page={{ all_articles.next_page_number }}">
                          <span class="arr-prew">
                            <svg width="12" height="18" viewBox="0 0 12 18"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0006 8.29764L2.99038 0.287559C2.80512 0.102145
                                 2.5578 0 2.2941 0C2.03039 0 1.78308 0.102145 1.
                                  0.287559L1.00791 0.87731C0.624062 1.2616 0.624062 1.88618 1.00791
                                   2.26988L7.7343 8.99627L1.00045 15.7301C0.815182 15.9155 0.712891
                                   16.1627 0.712891 16.4263C0.712891 16.6901 0.815182 16.9373 1.00045
                                   17.1228L1.59035 17.7124C1.77576 17.8979 2.02293 18 2.28663 18C2.55034
                                   18 2.79765 17.8979 2.98292 17.7124L11.0006 9.69504C11.1863 9.50904
                                   11.2883 9.2607 11.2877 8.99671C11.2883 8.73168 11.1863 8.48349 11.0006 8.29764Z"
                                />
                            </svg>
                               </span>
                        </a>


                    {% else %}
                        <a class="disabled">
                            <span class="arr-next"> <svg width="12" height="18" viewBox="0 0 12 18"
                                                         fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
<path d="M11.0006 8.29764L2.99038 0.287559C2.80512 0.102145 2.5578 0
2.2941 0C2.03039 0 1.78308 0.102145 1.59781 0.287559L1.00791 0.87731C0.624062 1.2616 0.624062 1.88618 1.00791
2.26988L7.7343 8.99627L1.00045 15.7301C0.815182 15.9155 0.712891 16.1627 0.712891 16.4263C0.712891 16.6901
 0.815182 16.9373 1.00045 17.1228L1.59035 17.7124C1.77576 17.8979 2.02293 18 2.28663 18C2.55034 18 2.79765
  17.8979 2.98292 17.7124L11.0006 9.69504C11.1863 9.50904 11.2883 9.2607 11.2877 8.99671C11.2883 8.73168
   11.1863 8.48349 11.0006 8.29764Z"
/>
</svg>
                        </span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </section>
    {% include 'includes/call_form_full.html' with section_class='price-form' wrap='price-block-form-wrap' form='price-block-form' %}

{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.category.init();
        // App.form.init();
    </script>
{% endblock %}

{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}

