{% extends 'index.html' %}

{% block content %}
    {% include 'includes/breadcrumbs.html' %}
    <h1>{{ category.name }}</h1>
    <div class="wrap-sub-list">
        <ul style="margin-left: 50px">
            {% for sub_cat in category.get_sub_category %}
                <li>{{ sub_cat.name }} {{ sub_cat.price }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}