{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block title %} {% trans 'Контакты' %} {% endblock %}

{% block meta %}
    {% get_solo 'meta.MetaContact' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="review-over contacts-over">
        <section class="breadcrumbs">
            <div class="container">
                <span class="main-page">Главная</span>
                <span class="main-page"> - </span>
                <span class="level-page">Контакты</span>
            </div>
        </section>
        <section class="review-content">
            <div class="container">
                <div class="review-title">
                    <h1>{% trans 'Контакты' %}</h1>
                </div>
                <div class="contacts-wrap">
                    <div class="contacts-block-form">

                        <div class="form_main_screen_wrap">
                            <p class="form-title">{% trans 'Свяжитесь с нами' %}</p>
                                                    {% include "includes/call_back_form.html" %}
                        </div>

                    </div>

                    <div id="google_map" class="google_map map-contacts">

                    </div>
                </div>
                <div class="review-title title-contact">
                    <h1>{% trans 'Контакты' %}</h1>
                </div>
                <div class="contacts-details">

                    <div class="detail">
                        <img src="{% static 'images/placeholder.svg' %}" alt="">
                        <p class="detail-title">{% trans 'Где мы находимся?' %}</p>
                        <p class="detail-info">{% trans 'Киев, ул. Черняховского 18' %}</p>

                    </div>
                    <div class="detail">
                        <img src="{% static 'images/mail.svg' %}" alt="">
                        <p class="detail-title">E-mail</p>
                        <p class="detail-info">intexdentalnuvky@gmail.com</p>

                    </div>
                    <div class="detail">
                        <img src="{% static 'images/telephone.svg' %}" alt="">
                        <p class="detail-title">{% trans 'Телефоны' %}</p>
                        <p class="detail-info tel">(067) 465 00 13</p>

                    </div>
                </div>

            </div>

        </section>

    </section>

{% endblock %}

{% block js %}
    <script>
        App.home.init();
        // App.form.init();
    </script>
{% endblock %}


{% block extra_js %}
    <script>
        App.phone_mask('id_phone_number');
    </script>
{% endblock %}
