{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block title %} {{ doctor.fio }} {% endblock %}

{% block meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ doctor.meta_desc }}"/>

    <meta name="keywords"
          content="{{ doctor.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="doctors-over">
        {% include 'includes/breadcrumbs.html' %}
        <section class="service-content doctor-content">
            <div class="container">
                <div class="service-title">
                    <h1>{{ doctor.fio }}</h1>
                    <a href="#form" class="btn-contact">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>
            </div>
        </section>
        <section class="doctor-wrap">
            <div class="container">
                <div class="doctor-info-wrap">
                    <div class="doctor-info">
                        <p class="doctor-position">{{ doctor.occupation }}</p>
                        <div class="doctor-about">
                            {{ doctor.desc|safe }}
                        </div>
                        <p class="services-doctor-title">{% trans 'Услуги' %}</p>

                        <div class="services-doctor">
                            {% for service in doctor.services.all %}
                                <p style="display:block ;margin-bottom: 10px;
                                          text-decoration: none"
                                   class="service-doctor">{{ service.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="doctor-img">
                        <div class="doctor-img-wrap">
                            {% if doctor.photo %}
                                <img src="{{ doctor.photo.url }}" alt="">

                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
    {% if doctor.get_certificates %}
        <section class="certificate-doctor">
            <div class="container">
                <p class="certificate-title">{% trans 'Сертификаты врача' %}</p>
                <div class="slider-certificate certificate-wrap-slider">
                    <div class="img-slider-certificate">
                        {% for cert in doctor.get_certificates %}
                            <div class="slide-certificate">
                                <img src="{{cert.img.url}}" alt="img-slide">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
        <section class="articles-doctor articles-slider doctors-wrap articles-wrap">
            <div class="container">
                <p class="certificate-title">{% trans 'Статьи врача' %}</p>
                <div class="slider-certificate">

                    <div class="{% if doctor.get_articles|length >= 3 %}slider-doctor-articles {% endif %} doctors-general">
                        {% for article in doctor.get_articles %}
                            <div class="slide-article doctor-one article-one">
                                <a href="{% url 'main:article' slug=article.slug %}" class="abs-link"></a>
                                <div class="slide-wrap">
                                    <div class="img-doctor-wrap">
                                        {% if article.photo %}
                                            <img src="{{ article.photo.url }}" alt="" class="doctor-img">
                                        {% else %}
                                            <img src="{% static 'images/doctor.png' %}" alt="" class="doctor-img">
                                        {% endif %}
                                        <div class="hover-article">
                                        </div>
                                    </div>
                                    <p class="doctor-name">{{ article.title }}</p>
                                    <p class="doctor-prof">{{ article.lead }}</p>
                                    <p class="article-date">{{ article.date }}</p>
                                </div>
                            </div>

                        {% endfor %}
                        {#                    Саша розберись с отображением если стaттей меньше 3#}
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% include 'includes/call_form_full.html' %}
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.slider.initDoctorPage();
        App.category.init();
        // App.form.init();
    </script>
{% endblock %}



{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}

