{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block title %} {% trans 'Доктора' %} {% endblock %}

{% block meta %}
    {% get_solo 'meta.MetaCommand' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    {% get_doctors as doctors %}

    <section class="doctors-over">
        {% include 'includes/breadcrumbs.html' %}
        <section class="service-content">
            <div class="container">
                <div class="service-title">
                    <h1>{% trans 'Наша команда' %}</h1>
                    <a class="btn-contact js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>
            </div>
        </section>
        <section class="doctors-wrap">
            <div class="container">
                <div class="doctors-general">
                    {% for doctor in doctors %}
                        <div class="doctor-one">
                            <div class="img-doctor-wrap">
                                {% if doctor.photo %}
                                    <img src="{{ doctor.photo.url }}" alt="" class="doctor-img">
                                {% else %}
                                    <img src="{% static 'images/doctor.png' %}" alt="" class="doctor-img">
                                {% endif %}
                                <div class="hover-doctor">
                                    <a href="{% url 'main:doctor' slug=doctor.slug %}"
                                       class="doctor-link">{% trans 'Подробнее о враче' %}</a>
                                    <a class="entry-link js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                                </div>
                            </div>
                            <p class="doctor-name">{{ doctor.fio }}</p>
                            <p class="doctor-prof">{{ doctor.occupation }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
    {% include 'includes/call_form_full.html' %}
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.category.init();
        // App.form.init();
    </script>
{% endblock %}


{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}