{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block meta %}
    {% get_solo 'meta.MetaGallery' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>
    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="review-over questions-over gallery">
         {% include "includes/breadcrumbs.html" %}
        <section class="review-content">
            <div class="container">
                <div class="review-title">
                    <h1>{% trans 'Галерея' %}</h1>
                    <a href="#form" class="btn-contact">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>
                {% get_gallery as photos %}
                <div class="gallery-over">
                    <div class="container">
                        <div class="gallery-wrap">
                            {% for photo in photos %}
                            <div class="gallery-img">
                                <img src="{{ photo.image.url }}" alt="IntexDental">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>
    {% include 'includes/call_form_full.html' %}
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        // App.form.init();
        App.category.init();
        App.question.init();
    </script>
{% endblock %}


{% block extra_js %}
    <script>
        App.phone_mask('phone');
    </script>
{% endblock %}
