{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block meta %}
    {% get_solo 'meta.MetaHome' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    {% get_category as categories %}
    <section class="main-screen">
        <div class="first-screen">
            <div class="container">
                <div class="info_main_screen">
                    <p>  {% blocktrans %}
                        Мы работаем, чтобы <br> <b>Вы чаще улыбались</b>
                    {% endblocktrans %}
                    </p>
                    <div class="main_plus">
                        <div class="tooth">
                            <img src="/static/images/tooth.svg" alt="">
                            <p>{% blocktrans %}
                                В нашей стоматологической клинике на первом месте стоит качество оказываемых услуг, а также внимательное отношение к каждому пациенту.
                            {% endblocktrans %}
                            </p>
                        </div>
                        <div class="tech">
                            <img src="/static/images/dentist.svg" alt="">
                            <p> {% blocktrans %}
                                В нашей клинике применяются передовые технологии, при этом цены остаются доступными
                            {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form_main_screen">
                    <div class="form_main_screen_wrap">
                        <p class="form-title">{% trans 'Записаться на прием' %}</p>
                        {% include "includes/call_back_form.html" %}
                    </div>
                </div>
            </div>

        </div>
    </section>
    {#    <div class="sales-wrap">#}
    {#        <h2> {% trans 'Акции нашей клиники' %}</h2>#}
    {#        {% for sale in sales %}#}
    {#            <div>#}
    {#                <p>title - {{ sale.title }}</p>#}
    {#                {% if sale.photo %}#}
    {#                    <img width="200" src="{{ sale.photo.url }}" alt="{{ sale.title }}" title="{{ sale.title }}">#}
    {#                {% else %}#}
    {#                    <p>тут что-то дефолтное если фотку не загрузили</p>#}
    {#                {% endif %}#}
    {#                <div>text - {{ sale.text|safe }}</div>#}
    {#            </div>#}
    {#            <hr>#}
    {#        {% endfor %}#}
    {#    </div>#}

    <section class="sale_main">
        <div class="container">

           {% if sales %}
            <div class="sale-slider">
                <h2>{% trans 'Акции нашей клиники' %}</h2>

                <div class="sale-slider-wrap">
                    {% for sale in sales %}
                        <div class="slide">
                            {% if sale.photo %}
                                <img src="{{ sale.photo.url }}" alt="{{ sale.title }}" title="{{ sale.title }}">
                            {% else %}
                                <img src="/static/images/Rectangle.png" alt="">
                            {% endif %}
                            <div class="slide-text">
                                <h5>{{ sale.title }}</h5>
                                <p>{{ sale.text|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
                <div class="recommend">
                    <h2>{% trans 'Рекомендации врачей' %}</h2>
                    {% get_recomend as recommend %}

                    <div class="mobile-recom">
                        {% for recom in recommend %}
                        <div class="recom ">
                            <div class="recom-title">
                                <p>{{ recom.title }}</p>
                            </div>
                            <div class="recom-recom">
                                <p>{{ recom.text }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="circ1">
                        {% for recom in recommend %}
                            <div class="point {% if forloop.counter == 1 %} active_recom{% endif %}">
                                <div class="recom  {% if forloop.counter != 1 %} display_none {% endif %}">
                                    <div class="recom-title">
                                        <p>{{ recom.title }}</p>
                                    </div>
                                    <div class="recom-recom">
                                        <p>{{ recom.text }} </p>
                                    </div>
                                </div>
                                <p class="plus">+</p>
                            </div>
                        {% endfor %}
                        {#                        <div class="point">#}
                        {#                            <div class="recom display_none">#}
                        {#                                <div class="recom-title">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в две строки#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                                <div class="recom-recom">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в несколько строк рекомендация врача#}
                        {#                                        по#}
                        {#                                        уходу за#}
                        {#                                        полостью рта в несколько строк Рекомендация врача по уходу за полостью рта в#}
                        {#                                        несколько#}
                        {#                                        строк#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <p class="plus">+</p>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="point">#}
                        {#                            <div class="recom display_none">#}
                        {#                                <div class="recom-title">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в две строки#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                                <div class="recom-recom">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в несколько строк рекомендация врача#}
                        {#                                        по#}
                        {#                                        уходу за#}
                        {#                                        полостью рта в несколько строк Рекомендация врача по уходу за полостью рта в#}
                        {#                                        несколько#}
                        {#                                        строк#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <p class="plus">+</p>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="point">#}
                        {#                            <div class="recom display_none">#}
                        {#                                <div class="recom-title">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в две строки#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                                <div class="recom-recom">#}
                        {#                                    <p>Рекомендация врача по уходу за полостью рта в несколько строк рекомендация врача#}
                        {#                                        по#}
                        {#                                        уходу за#}
                        {#                                        полостью рта в несколько строк Рекомендация врача по уходу за полостью рта в#}
                        {#                                        несколько#}
                        {#                                        строк#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <p class="plus">+</p>#}
                        {#                        </div>#}

                        <div class="circ2">
                            <div class="radius">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    {% endif %}#}
    {#    <div class="category-wrap" id="services">#}
    {#        <h4>{% trans 'Наши услуги' %}</h4>#}
    {##}
    {#        <div style="display: flex; flex-wrap: wrap">#}
    {#            {% for category in categories %}#}
    {#                <div class="category-item" style="width: 33%; border: 1px solid red; position: relative">#}
    {#                    <a href="{% url 'main:category' slug=category.slug %}" style="position: absolute;#}
    {#                    top: 0;#}
    {#                    right: 0;#}
    {#                    left: 0;#}
    {#                    bottom: 0;#}
    {#                    z-index: 2"></a>#}
    {#                    {% if category.icon %}#}
    {#                        <img width="50" src="{{ category.icon.url }}" alt="">#}
    {#                    {% else %}#}
    {#                        smth  default image#}
    {#                    {% endif %}#}
    {#                    <p>{{ category.name }}</p>#}
    {#                </div>#}
    {##}
    {#            {% endfor %}#}
    {##}
    {#        </div>#}
    {#    </div>#}

    <section class="license">
        <div class="container">
            <div class="license-wrap">
                <h2 class="license-title">{% trans 'Стоматклиника Интекс Дентал' %}</h2>
                <p class="license-desc">
                    {% blocktrans %}
                    Стоматклиника Интекс Дентал открыта для каждого, кто заботится о собственном здоровье и здоровье своих близких.<br>
                    {% endblocktrans %}
                </p>

{#                <img class="license-img" src="/static/images/license.png" alt="">#}
           </div>

        </div>
    </section>

    <section class="services">

        <div class="container">
            <h2>{% trans 'Список услуг' %}</h2>
        {% get_static_info_main_page as static_block %}
            <div class="services-list">
                {% for cat in static_block %}
                    <div class="service">
                        <a class="abs-link" href="{% url 'main:service' slug=cat.slug %}"></a>
                        {% if cat.icon_first %}
                            <img class="img-first"
                                 style="width: 100px;
                             height: 100px;"
                                 src="{{ cat.icon_first.url }}" alt="">
                        {% endif %}
                        {% if cat.icon_hover %}
                            <img class="img-hover"
                                 style="width: 100px;
                             height: 100px;"
                                 src="{{ cat.icon_hover.url }}" alt="">
                        {% endif %}
                        <p class="service-title">{{ cat.name }}</p>
                        <p class="detail-info">{% trans 'ДЕТАЛЬНАЯ ИНФОРМАЦИЯ' %}</p>
                    </div>
                {% endfor %}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/x-ray.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/x-ray_hover.svg" alt="">#}
                {#                    <p class="service-title">x-ray</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/tooth-list.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/tooth-list_hover.svg" alt="">#}
                {#                    <p class="service-title">tooth</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/anesthetic.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/anesthetic_hover.svg" alt="">#}
                {#                    <p class="service-title">anesthetic</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}
                {#                <div class="service">#}
                {#                    <img class="img-first" src="/static/images/baby.svg" alt="">#}
                {#                    <img class="img-hover" src="/static/images/baby_hover.svg" alt="">#}
                {#                    <p class="service-title">Детский прием</p>#}
                {#                    <p class="detail-info">ДЕТАЛЬНАЯ ИНФОРМАЦИЯ</p>#}
                {#                </div>#}

            </div>
        </div>

        <a href="{% url 'main:price' %}" class="orange-btn center-block mt20">{% trans 'Все услуги' %}</a>

    </section>

    <section class="review-home">
{% get_reviews as reviews %}
    {% if reviews %}
        <div class="review-wrap-home">

            <div class="review-slider-wrap">
                <p class="review-slider-title">{% trans 'Отзывы' %}</p>
                <div class="review-slider">
                    {% for review in reviews %}
                        <div class="rev">
                            <p class="rev-title">{{ review.name }}</p>
                            <p class="rev-text">{{ review.text }}</p>
                        </div>
                    {% endfor %}
                    {##}
                    {##}
                    {#                    <div class="rev">#}
                    {#                        <p class="rev-title">Антон</p>#}
                    {#                        <p class="rev-text">В 21 веке одним из своеобразных элементов успеха и благополучия являются#}
                    {#                            белоснежные зубы и свежее дыхание.#}
                    {#                            Современная стоматология позволяет проводить лечение зубов безболезненно и качественно,#}
                    {#                            а результаты эстетической стоматологии будут радовать окружающих Вашей здоровой и#}
                    {#                            белоснежной#}
                    {#                            улыбкой!</p>#}
                    {#                    </div>#}
                    {#                    <div class="rev">#}
                    {#                        <p class="rev-title">Антон</p>#}
                    {#                        <p class="rev-text">В 21 веке одним из своеобразных элементов успеха и благополучия являются#}
                    {#                            белоснежные зубы и свежее дыхание.#}
                    {#                            Современная стоматология позволяет проводить лечение зубов безболезненно и качественно,#}
                    {#                            а результаты эстетической стоматологии будут радовать окружающих Вашей здоровой и#}
                    {#                            белоснежной#}
                    {#                            улыбкой!</p>#}
                    {#                    </div>#}
                    {#                    <div class="rev">#}
                    {#                        <p class="rev-title">Антон</p>#}
                    {#                        <p class="rev-text">В 21 веке одним из своеобразных элементов успеха и благополучия являются#}
                    {#                            белоснежные зубы и свежее дыхание.#}
                    {#                            Современная стоматология позволяет проводить лечение зубов безболезненно и качественно,#}
                    {#                            а результаты эстетической стоматологии будут радовать окружающих Вашей здоровой и#}
                    {#                            белоснежной#}
                    {#                            улыбкой!</p>#}
                    {#                    </div>#}
                </div>
            </div>
            <a href="{% url 'main:review' %}" class="orange-btn center-block mt20">{% trans 'Все ОТЗЫВЫ' %}</a>
        </div>
    {% endif %}
    {% get_questions_home_page as questions %}
        <div class="questions-home">
            <div class="container">
                <p class="questions-title">{% trans 'Частые Вопросы' %}</p>
                <div class="que-wrap">
                    <div class="questions-wrap">
                        {% for ques in questions %}
                        <div class="question {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="question-title">
                                <p>{{ques.question}}</p>
                            </div>
                            <div class="question-answer">
                                <div class="question-answer-wrap-text">
                                    {{ ques.content_answer|safe }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'main:questions' %}" class="orange-btn center-block mt20">{% trans 'Все вопросы' %}</a>
            </div>
        </div>
    </section>

{% endblock %}


{% block js %}
    <script>
        App.header.init();
        App.home.init();
        // App.form.init();
        App.slider.initHomePage();
        App.question.init();
    </script>
{% endblock %}


{% block extra_js %}
    <script>
        App.phone_mask('id_phone_number');
    </script>
{% endblock %}
