{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}
{% block title %} {% trans 'Услуги' %} {% endblock %}
{% block meta %}
    {% get_solo 'meta.MetaPrice' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="price-over">
        {% include 'includes/breadcrumbs.html' %}
        <section class="price-content">
            <div class="container">
                <div class="price-title">
                    <h1>{% trans 'Услуги' %}</h1>
                    <a class="btn-contact js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>
                <div class="price-wrap">
                    {% for category in categories %}
                        <div class="price-category {% if forloop.counter == 1 %}active {% endif %}">
                            <p class="category-title">{{ category.name }}</p>
                            <div class="category-subs" data-child>
                                {% for sub_category in category.get_subcategory_all %}
                                    <div class="category-sub">
                                        <p class="category-sub-title">{{ sub_category.name }}</p>
                                        <p class="category-price">
                                            {% if sub_category.price != '0' and sub_category.price != '0.0' %}
                                                {{ sub_category.price}}
                                            {% endif %}
                                        </p>
                                        <div class="help-text">
                                            {% for s in sub_category.get_subcategory %}
                                                <div>
                                                    <p>{{ s.title }}</p>
                                                    <p>{{ s.price }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>

    </section>
    {% include 'includes/call_form_full.html' with section_class='price-form' wrap='price-block-form-wrap' form='price-block-form' %}

{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.category.init();

    </script>
{% endblock %}

{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}
