{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block meta %}
    {% get_solo 'meta.MetaHome' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    {% get_questions as questions %}
    <section class="review-over questions-over">
       {% include 'includes/breadcrumbs.html' %}
        <section class="review-content">
            <div class="container">
                <div class="review-title">
                    <h1>Частые Вопросы</h1>
                    <a href="#" class="btn-contact">ЗАПИСАТЬСЯ НА ПРИЕМ</a>
                </div>
                <div class="questions-wrap">
                      {% for ques in questions %}
                        <div class="question {% if forloop.counter == 1 %} active {% endif %}">
                        <div class="question-title">
                            <p>{{ques.question}}</p>
                        </div>
                        <div class="question-answer">
                            <p>{{ ques.answer }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>

    </section>

{% endblock %}

{% block js %}
    <script>
        App.home.init();
        // App.form.init();
        App.category.init();
        App.question.init();
    </script>
{% endblock %}
