{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block title %} {% trans 'Отзывы' %} {% endblock %}

{% block meta %}
    {% get_solo 'meta.MetaReview' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
    <section class="review-over">
        {% include "includes/breadcrumbs.html" %}
        <section class="review-content">
            <div class="container">
                <div class="review-title">
                    <h1>Отзывы</h1>
                    <a href="#appointment" class="btn-contact">{% trans 'Оставить отзыв' %}</a>
                </div>
                {% get_reviews as reviews %}
                <div class="reviews-wrap">
                    {% for review in reviews %}
                        <div class="rev">
                            <p class="rev-title">{{ review.name }}</p>
                            <p class="rev-text">{{ review.text }}</p>
                        </div>
                    {% endfor %}

                    <span id="appointment"
                          style="height: 0; width: 0; visibility: hidden; position: absolute; top: 80%;"></span>
                </div>
            </div>

        </section>

    </section>
    <section class="review-form">
        <div class="container">
            <div class="rev-block-form-wrap">
                <div class="title-rev-block-form">
                    <p>{% trans 'Вы можете оставить свой отзыв о нашей компании' %}</p>
                    <img src="{% static 'images/specialty_prod-line_handpieces-and-small-equipment-trans.png' %}" alt=""
                         class="instr">
                </div>
                <div class="rev-block-form">
                    <div class="form_main_screen_wrap">
                        <p class="form-title">{% trans 'Оставить отзыв' %}</p>
                    <p class="js-form-help thanks-text hide">
                        {% trans 'Спасибо за отзыв!' %}
                    </p>
                        <form class="js-review-form form" action="{% url 'main:review' %}" method="post" id="data">{% csrf_token %}
                            <input type="text" placeholder="{% trans 'Имя' %}" name="name" form="data">
                            <textarea rows="10" name="text" placeholder="{% trans 'Текст отзыва' %}"></textarea>
                            <button class="submit-btn" type="submit">{% trans 'Отправить заявку' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        // App.form.init();
        App.form.review_form_ajax();
    </script>
{% endblock %}
