{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}

{% block meta %}
{% get_solo 'meta.MetaHome' as block_meta %}
<meta name="author" content="Avalan.studio"/>
<meta name="position" content="50.448091, 30.521688"/>
<meta name="description"
      content="{{ block_meta.meta_desc }}"/>
<meta name="keywords"
      content="{{ block_meta.meta_keywords }}"/>
<meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}
<section class="service-over">

    {% include "includes/breadcrumbs.html" %}
    <section class="service-content">
        <div class="container">
            <div class="service-title">
                <h1>{{ service.name }}</h1>
                <a href="#form" class="btn-contact">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
            </div>

        </div>

    </section>
    <section class="service-wrap">
        <div class="container">
            <div class="service-general">
                <div class="service-description">
                    {{ service.desc|safe }}
                    {% if service.price != '0' %}
                    <div class="service-price">
                        <p>Стоимость:</p>
                        <p class="price-number">{{ service.price }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="service-photo-wrap">

                    {% if service.photo %}
                    {#
                    <div class="photo-row photo-title">#}
                        {#
                        <div class="col-left">{% trans 'До приема' %}</div>
                        #}
                        {#
                        <div class="col-right">{% trans 'После приема' %}</div>
                        #}
                        {#
                    </div>
                    #}
                    {% for photo in service.photo %}
                    <div class="photo-row">
                        <div class="col-left">
                            <img src="{{ photo.before_photo.url }}" alt="">
                        </div>
                        <div class="col-right">
                            <img src="{{ photo.after_photo.url }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="photo-row photo-row-one-img">
                        {% if service.image %}
                            <img src="{{service.image.url}}" alt="{{service.name}}" style="max-width: 328px;">
                        {% else %}
                            <img src="{% static 'images/damaged-tooth-graphic 1.png' %}" alt="{{service.name}}">
                        {% endif %}
                    </div>


                </div>
            </div>

        </div>
    </section>
</section>
{% include 'includes/call_form_full.html' %}
{% endblock %}

{% block js %}
<script>
    App.home.init();
    App.category.init();
    // App.form.callbackFormFull();
</script>
{% endblock %}

{% block extra_js %}
<script>
    App.phone_mask('phone');
</script>
{% endblock %}

