{% extends 'index.html' %}
{% load poll_extras %}
{% load i18n %}


{% block content %}
    {% get_category as categories %}
    {% include 'includes/breadcrumbs.html' %}
    <h1>{% trans 'цены' %}</h1>
    {% for category in categories %}
        <div class="category">
            <h3><a href="{% url 'main:category' slug=category.slug %}">{{ category.name }}</a></h3>
            <div class="sub-category-wrap">
                <ul style="margin-left: 50px">
                    {% for sub_cat in category.get_sub_category %}
                        <li>{{ sub_cat.name }} {{ sub_cat.price }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}


{% endblock %}