{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}


{% block meta %}
    {% get_solo 'meta.MetaShare' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}



{% block content %}
    <h1>shares page</h1>
    {% include "includes/breadcrumbs.html" %}
    {% for sale in sales %}
        <div>
            {% if sale.photo %}
                <img width="250" src="{{ sale.photo.url }}" alt="">
            {% endif %}
            <p><a href="{% url 'main:detail'  pk=sale.id %}">title - {{ sale.title }}</a></p>
            <p>text - {{ sale.text|safe }}</p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}


{% block js %}

{% endblock %}