{% extends "index.html" %}
{% load i18n %}
{% load solo_tags %}
{% load poll_extras %}
{% load static %}
{% block title %} {% trans 'Акции' %} {% endblock %}
{% block meta %}
    {% get_solo 'meta.MetaShare' as block_meta %}
    <meta name="author" content="Avalan.studio"/>
    <meta name="position" content="50.448091, 30.521688"/>
    <meta name="description"
          content="{{ block_meta.meta_desc }}"/>

    <meta name="keywords"
          content="{{ block_meta.meta_keywords }}"/>
    <meta name="copyright" content="{% trans 'Всі права належать' %} Avalan.studio"/>
{% endblock %}


{% block content %}

    {% get_sales as sales %}

    <section class="doctors-over">
        {% include 'includes/breadcrumbs.html' %}
        <section class="service-content">
            <div class="container">
                <div class="service-title">
                    <h1>{% trans 'Акции' %}</h1>
                    <a  href="#" class="btn-contact js-anchor" data-to="form">{% trans 'ЗАПИСАТЬСЯ НА ПРИЕМ' %}</a>
                </div>
            </div>
        </section>
        <section class="stocks-wrap">
            <div class="container">
                <div class="stocks-general">
                    {% for sale in sales %}
                        <div  class="stock-link">
                            <div class="stock-one">
                                <div class="stock-img-wrap">
                                    {% if sale.photo %}
                                        <img src="{{ sale.photo.url }}"
                                             style="max-width: 100%;"
                                             title="{{ sale.title }}"
                                             alt="{{ sale.text }}">
                                    {% else %}
                                        <img src="{% static 'images/doctor.png' %}" alt="" class="stock-img">
                                    {% endif %}

                                </div>
                                <div class="stock-info">
                                    <p class="stock-title">{{ sale.title }}</p>
                                    <div class="stock-description">{{ sale.text|safe }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

    {% include 'includes/call_form_full.html' %}
{% endblock %}

{% block js %}
    <script>
        App.home.init();
        App.category.init();
        // App.form.init();
    </script>
{% endblock %}



{% block extra_js %}
    <script>
        App.phone_mask('phone');
        App.scrool_to_block();
    </script>
{% endblock %}
